@font-face {
    font-family: "MSW98UI";
    src: url("/static/fonts/MSW98UI-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MSW98UI";
    src: url("/static/fonts/MSW98UI-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Panic!";
    src:
        url("/static/fonts/ExtraOrnamentalNo2.woff2") format("woff2"),
        url("/static/fonts/ExtraOrnamentalNo2.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Dotmatrix";
    src:
        url("/static/fonts/DotMatrixQuad-Regular.woff2") format("woff2"),
        url("/static/fonts/DotMatrixQuad-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Ornate";
    src:
        url("/static/fonts/Goudy\ Ornate\ MT\ Std.woff2") format("woff2"),
        url("/static/fonts/Goudy\ Ornate\ MT\ Std.woff") format("woff");
    font-style: normal;
}

html {
    /*VARS*/
    --dot-bg: #b14c4c;
    --dot-colour: #760029;
    --dot-size: 1px;
    --dot-space: 9px;
    --dot-rotor: 10deg;

    --text-colour: #ffc437;



}


html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;

    background:
        radial-gradient(circle,
            var(--dot-bg) var(--dot-size),
            transparent calc(var(--dot-size) + 1px)) center / var(--dot-space) var(--dot-space),
        var(--dot-colour);
    color: var(--text-colour);

    font-family: "MSW98UI", sans-serif;
}


.btn {
    color: color-mix(in srgb, var(--text-colour), white 50%) !important;
}

.btn-panic {
    background-color: var(--dot-bg);
}

.font-msw98 {
    font-family: "MSW98UI", sans-serif;
}

.font-patd {
    font-family: "Panic!", sans-serif;
}

.font-dotmatrix {
    font-family: "Dotmatrix", sans-serif;
}

.font-ornate {
    font-family: "Ornate", sans-serif;
}

 

.project-pane {
    background-color: rgb(36, 36, 36) !important;
    height: 20rem;
    overflow: hidden;
}
.project-pane {
    transition:
        transform .5s ease-in-out,
        box-shadow .5s ease-in-out;

    --rotation: 1deg;
}

.project-pane:hover {
    transform: rotate(var(--rotation)) scale(1.1);
    box-shadow: 0px 0px 26px 5px #000000;
}
.project-button {
    position: absolute;

    z-index: 3;

    bottom: 1rem;
    right: 1rem;

    height: 3.5rem;

    display: flex;
    align-items: center;
}

.project-pane::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.176), rgba(14, 14, 14, 0.857));
    pointer-events: none;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1
}
.project-title {
    bottom: 1.5rem;
    left:1rem;
    z-index: 3
}

.project-desc {
    left: 1rem;
    bottom: .05rem;
    z-index: 3;
}

.abs {
    position: absolute;
}



.fill-text {
    display: block;
    font-size: clamp(1rem, 5vw, 4rem);
    line-height: 1;
}

.curtain-left::before {
    content: "";

    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;


    background:
        linear-gradient(90deg,
            #210000 0%,
            #650000 3%,
            #a90000 6%,
            #4b0000 9%,
            #1f0000 12%,
            #790000 16%,
            #b80000 19%,
            #500000 22%,
            #260000 25%,
            #850000 29%,
            #bd0000 32%,
            #560000 35%,
            #210000 38%,
            #700000 42%,
            #ad0000 45%,
            #4a0000 48%,
            #200000 51%,
            #760000 55%,
            #b30000 58%,
            #4b0000 61%,
            #230000 64%,
            #7d0000 68%,
            #b00000 71%,
            #4c0000 74%,
            #210000 77%,
            #700000 81%,
            #a80000 84%,
            #470000 87%,
            #200000 90%,
            #680000 94%,
            #a00000 97%,
            #3a0000 100%);
    z-index: 9999;

    animation: curtain-left-open 2s ease-in-out forwards;
}

.curtain-right::before {
    content: "";

    position: fixed;
    left: 50vw;
    top: 0;
    width: 50vw;
    height: 100vh;

background:
    linear-gradient(
        -90deg,
        #210000 0%,
        #650000 3%,
        #a90000 6%,
        #4b0000 9%,
        #1f0000 12%,
        #790000 16%,
        #b80000 19%,
        #500000 22%,
        #260000 25%,
        #850000 29%,
        #bd0000 32%,
        #560000 35%,
        #210000 38%,
        #700000 42%,
        #ad0000 45%,
        #4a0000 48%,
        #200000 51%,
        #760000 55%,
        #b30000 58%,
        #4b0000 61%,
        #230000 64%,
        #7d0000 68%,
        #b00000 71%,
        #4c0000 74%,
        #210000 77%,
        #700000 81%,
        #a80000 84%,
        #470000 87%,
        #200000 90%,
        #680000 94%,
        #a00000 97%,
        #3a0000 100%
    );

    z-index: 9999;

    animation: curtain-right-open 2s ease-in-out forwards;
}

@keyframes curtain-left-open {
    from {
        transform: translateX(0);
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
        );
    }

    to {
        transform: translateX(-100%);
        clip-path: polygon(
            0 0,
            100% 0,
            82% 100%,
            0 100%
        );
    }
}

@keyframes curtain-right-open {
    from {
        transform: translateX(0);
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
        );
    }

    to {
        transform: translateX(100%);
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            18% 100%
        );
    }
}

@keyframes curtain-left-close {
    from {
        transform: translateX(-100%);
        clip-path: polygon(
            0 0,
            100% 0,
            82% 100%,
            0 100%
        );
    }

    to {
        transform: translateX(0);
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
        );
    }
}

@keyframes curtain-right-close {
    from {
        transform: translateX(100%);
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
        );
    }

    to {
        transform: translateX(0);
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
        );
    }
}

.curtain-left.close::before {
    animation: curtain-left-close 1s ease-in-out forwards;
}

.curtain-right.close::before {
    animation: curtain-right-close 1s ease-in-out forwards;
}

.main-section {
    max-width: 50rem;
}


.panel {
    border: 2px solid #d6d6d6 !important;
    background: #64102A;
    backdrop-filter: blur(10px);
}


.header {
    height: 140px;
}



@view-transition {
    navigation: auto;
}


.sidebar {
    min-height: 440px;
}


.nav-box {
    height: 60px;
    border-bottom: 2px solid #d6d6d6;
}


.content {
    min-height: 440px;
}


.placeholder {
    width: 125px;
    height: 125px;
    border: 2px solid #d6d6d6;
}


.ruffle-window {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 999999;

    width: 800px;
    height: 600px;

    background: black;
}
